<header class="w-full h-full">
  <div class="border-bottom w-full py-[10px]">
    <div class=" max-w-[1610px] header-top flex mx-auto">
      <div class="w-1/4 header-top-left">
        <ul class="flex">
          <li class="item-li">
            <a href="#">About Us</a>
          </li>
          <li class="item-li">
            <a href="#">My Account</a>
          </li>
          <li class="item-li">
            <a href="#">Wishlist</a>
          </li>
          <li class="item-li">
            <a href="#">Order Tracking</a>
          </li>
        </ul>
      </div>
      <div class="w-1/2"></div>
      <div class="w-1/4 header-top-right">
        <ul class="flex justify-end">
          <li class="item-li-right">
            <a>Need help? Call Us:</a>
            <strong>+ 0981412655</strong>
          </li>
          <li class="item-li-right">
            <a>
              English
              <i class="fa-solid fa-chevron-down fa-xs"></i>
            </a>
            <ul class="language-dropdown w-[140px]">
              <li>
                <a>
                  <img src="assets/image_project/VietNam_VND.png">
                  Vietnamese
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/image_project/England_GBP.png">
                  English
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/image_project/France_INR.png">
                  Français
                </a>
              </li>
            </ul>
          </li>
          <li class="item-li-right">
            <a>
              VND
              <i class="fa-solid fa-chevron-down fa-xs"></i>
            </a>
            <ul class="language-dropdown">
              <li>
                <a>
                  <img src="assets/image_project/England_GBP.png">
                  GBP
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/image_project/VietNam_VND.png">
                  VND
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/image_project/Germany_MBP.png">
                  MBP
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-full p-[30px] border-bottom">
    <div class="max-w-[1610px] header-middle mx-auto flex">
      <div class="logo mr-[70px]">
        <a href="#">
          <img src="assets/image_project/logo.svg" class="w-[180px]">
        </a>
      </div>
      <div class="header-right">
        <div class="w-full">
          <form action="#" class="header-search">
            <span class="w-[155px] pl-[20px] relative">
              <span (click)="toggleCategoryDropdown()">
                {{categoryChoosen}}
                <i class="fa-solid fa-chevron-down fa-xs"></i>
              </span>
              <span class="category-dropdown" [ngStyle]="{'visibility':isCategoryVisible ? 'visible' : 'hidden'}">
                <span class="search-dropdown">
                  <input type="text" autocomplete="off" [(ngModel)]="search" (input)="searchCategory()" name="search">
                </span>
                <span class="list-category">
                  <ul>
                    <li *ngFor="let category of filteredCategories" (click)="pickCategory(category)"
                        [class.active]="categoryChoosen==category"
                        class="text-[#7E7E7E] text-sm p-[6px]">
                      {{category}}
                    </li>
                  </ul>
                </span>
              </span>
            </span>
            <input type="text" placeholder="Search for items...">
          </form>
        </div>
        <div class="header-action-right">
          <div class="header-action-2 flex">
            <div class="search-location block">
              <form action="#">
                <span class="location-search">
                  <span>
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="text-[#3BB77E]">Your Location</span>
                    <i class="fa-solid fa-chevron-down fa-xs"></i>
                  </span>
                </span>
              </form>
            </div>
            <div class="header-action-icon px-[10px]">
              <a href="#" class="item-action-icon">
                <img class="w-full max-w-[25px]" src="assets/image_project/compare.svg">
                <span class="pro-count-green">3</span>
              </a>
              <a href="#" class="item-action-text">
                <span>Compare</span>
              </a>
            </div>
            <div class="header-action-icon px-[10px]">
              <a href="#" class="item-action-icon">
                <img class="w-full max-w-[25px]" src="assets/image_project/wishlist.svg">
                <span class="pro-count-green">6</span>
              </a>
              <a href="#" class="item-action-text">
                <span>Wishlist</span>
              </a>
            </div>
            <div class="header-action-icon px-[10px]">
              <a href="#" class="item-action-icon">
                <img class="w-full max-w-[25px]" src="assets/image_project/cart.svg">
                <span class="pro-count-green">2</span>
              </a>
              <a href="#" class="item-action-text">
                <span>Cart</span>
              </a>
            </div>
            <div class="header-action-icon pl-[10px]">
              <a href="#" class="item-action-icon">
                <img class="w-full max-w-[25px]" src="assets/image_project/account.svg">
              </a>
              <a href="#" class="item-action-text">
                <span>Account</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div></div>
</header>
