.border-bottom {
  border-bottom: 1px solid #ececec
}

.item-li {
  color: #7E7E7E;
  font-size: 13px;
  font-family: Lato, sans-serif;
  margin-right: 20px;
  position: relative;
}

.item-li:not(:last-child):after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

.item-li:hover {
  color: #333;
}

.item-li-right {
  color: #7E7E7E;
  font-size: 13px;
  font-family: Lato, sans-serif;
  position: relative;
}

.item-li-right:not(:last-child) {
  margin-right: 20px;

}

.item-li-right > strong {
  color: #3BB77E;
}

.item-li-right:not(:last-child) after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

.item-li-right:hover {
  .language-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
  }
}

.item-li-right > ul > li > a > img {
  max-width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.item-li-right > ul > li > a {
  color: #253D4E;
  display: block;
  padding: 5px;
  font-weight: 500;
  font-size: 13px;
  vertical-align: middle;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  min-width: 120px;
  background: #FFF;
  border-radius: 0 0 4px 4px;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
  padding: 10px 15px;
  border: 1px solid #ececec;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-search {
  border: 2px solid #BCE3C9;
  border-radius: 4px;
  max-width: 700px;
  background-color: #fff;
  display: flex;
  position: relative;
}

.header-search > span {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #253D4E;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: baseline;
  cursor: pointer;
}

.header-search > span:after {
  content: '';
  height: 20px;
  width: 1px;
  background-color: #CACACA;
  position: absolute;
  right: 0;
  top: 15px;
}

.header-search > input {
  max-width: 600px;
  border-radius: 0 5px 5px 0;
  margin-left: 20px;
  background-color: #fff;
}

.header-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-dropdown {
  min-width: 220px;
  position: absolute;
  top: 100%;
  left: -2px;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ececec;
  display: block;
  transform: translateY(10px);
}

.search-dropdown > input {
  border: 1px solid #BCE3C9;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 40px;
  padding-left: 20px;
}

.list-category > ul {
  max-height: 200px;
  overflow-y: auto;
}

.list-category > ul {
  &::-webkit-scrollbar {
    width: 16px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    width: 16px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #d1d1d1;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    height: 8px;
    background-clip: padding-box;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
  }
}

.list-category > ul > li {
  &.active {
    background-color: #ececec;
  }

  &:not(.active):hover {
    background-color: #9ddbc9;
  }
}

.header-action-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-action-2 {
  align-items: center;
  vertical-align: baseline;
}

.location-search {
  width: 164px;
  margin-right: 30px;
  vertical-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ececec;
}

.location-search > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 40px;
  line-height: 35px;
  position: relative;
  font-weight: 500;
  padding: 0 13px;
}

.header-action-icon {
  display: flex;
  position: relative;
  font: inherit;
  vertical-align: baseline;
}

.item-action-icon {
  font-size: 30px;
  color: #333;
  line-height: 1;
  display: inline-block;
  position: relative;
  width: 25px;
  margin-right: 5px;
}

.pro-count-green {
  background-color: #3BB77E;
  position: absolute;
  right: -11px;
  top: -5px;
  color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.item-action-text {
  font-size: 30px;
  color: #333;
  line-height: 1;
  display: inline-block;
  position: relative;
}

.item-action-text > span {
  font-size: 16px;
  margin-top: 5px;
  color: #7E7E7E;
}
