/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

input {
  outline: none;

  &:active, &:focus {
    outline: none;
  }
}

a {
  cursor: pointer;
}
